body {
    background-image: url('../images/triangle-mosaic.png');
}

#top_bar {
    width: 100%;
    height: 200px;
}

header{
    background-color: #4aaaa5;
    text-align: center;
}

#section {
    width: 960px;
}

h1 {
    color: #4aaaa5;
    padding: 20px;
}
